@import url("../font-awesome/css/font-awesome.css");

body,html{
	background: #ffffff;
	font-size: 14px;
	color: #000000;
}

.main {
    padding: 1em;
    min-height: 100vh;
}

footer{
	color: #FFFFFF;
	background: #343a40 !important;
}

footer p{
	padding: 1.5em;
	margin: 0;
}
a{
	color: #000000;
}
a,a:hover{
	text-decoration: none;
}
a.btn, button.btn{
	margin-right: 1em;
}

.img_request{
	height: 150px;
	width: 100%;
	padding: 0 3rem;
}
.img_rol{
	width: 50px;
	height: 50px;
}

.img_request_create{
	width: 100%;
	height: 360px;
}

.custom-file-label::after{
	content: none !important;
}
.form-control{
	border-radius: 0px !important;
}
.overflow-h{
	overflow: hidden;
}

@media (max-width: 575.98px) {
	.img_request{
		padding: 0;
	}
}

@media (max-width: 992px) { 
	.img_request_create,.img_request{
		height: auto;
	}
}