<main class="main_request">
	<div class="container-fluid">
		<div class="row">
			<!--<div class="col-md-2">
				<h1 class="text-center">PQRSF</h1>
				<br>
				<div class="list-group">
					<a [routerLink]="['/']" class="list-group-item list-group-item-action">Inicio</a>
					<a [routerLink]="['/']" class="list-group-item list-group-item-action">Crear Solicitud</a>
					<a [routerLink]="['/']" class="list-group-item list-group-item-action">Mis solicitudes</a>
				</div>
			</div>-->

			<div class="col-md-10 offset-1 manifestation">
				<div class="row justify-content-center">
					<div class="col-12">
						<h4 class="text-center">CREAR SOLICITUD</h4>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-12">
						<img class="img_request_create" src="assets/img/banner.png" alt="...">
						<br>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-12">
						<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
							<div class="form-row">

								<div class="form-group form-check col-md-12">
									<h6>1. Tipo de manifestación*</h6>
									<input type="checkbox"  name="manifestation" checked value="{{manifestation}}"  required disabled>
									<label class="form-check-label" for="exampleCheck1">{{ manifestation | titlecase }}</label>
								</div>


								<div class="form-group col-md-12">
									<h6>2. Descripción de la manifestación*</h6>
									<small class="form-text text-muted">Con el proposito de gestionar de la forma mas eficiente su manifestación, le recomendamos tener en cuenta en su redacción el nombre de la dependencia o personas involucradas si lo considera pertinente.</small>
									<textarea type="text" [ngClass]="{'is-invalid': validationDescription.touched && !validationDescription.valid, 'is-valid': validationDescription.touched && validationDescription.valid}" class="form-control" name="description" #validationDescription="ngModel" placeholder="Descripción" [(ngModel)]="description" minlength="1" maxlength="300" required></textarea>

									<div class="invalid-feedback" *ngIf="validationDescription.touched && !validationDescription.valid">
										<div *ngIf="validationDescription.errors.required">Por favor, introduzca un Descripción</div>
									</div>
								</div>

								<div class=" form-group col-md-6">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa fa-paperclip"></i></div>
										</div>

										<div class="custom-file">
											<input type="file" class="custom-file-input" name="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="preUpload($event)">
											<label class="custom-file-label" for="inputGroupFile01">{{ fileName }}</label>
										</div>

									</div>
								</div>

								<div class="form-group col-md-12">

									<h6>3.¿Desea recibir respuesta a su manifestación?*</h6>
									<small class="form-text text-muted">Los datos suministrados se trataran en confirmidad con la ley 1581 de 2012, "Por la cual se dictan disposiciones generales para la proteccion de datos personales".</small>
									<a href="https://jsonplaceholder.typicode.com/users" target="_blank">https://jsonplaceholder.typicode.com/users</a>


									<div class="custom-control custom-radio">
										<input type="radio" id="customControlValidation2" class="custom-control-input" name="response" #validationResponseYes="ngModel" [(ngModel)]="response" value="yes" (ngModelChange)="changeResponse($event)" [ngClass]="{'is-invalid': validationResponseYes.touched && !validationResponseYes.valid, 'is-valid': validationResponseYes.valid}" required>
										<label class="custom-control-label" for="customControlValidation2">Si</label>
									</div>
									<div class="custom-control custom-radio mb-3">
										<input type="radio" id="customControlValidation3" class="custom-control-input" name="response" #validationResponseNo="ngModel" [(ngModel)]="response" value="no" (ngModelChange)="changeResponse($event)" [ngClass]="{'is-invalid': validationResponseNo.touched && !validationResponseNo.valid, 'is-valid': validationResponseNo.valid}" required>
										<label class="custom-control-label" for="customControlValidation3">No</label>
										<div class="invalid-feedback">Por favor, indique su respuesta</div>
									</div>

								</div>

								<div class="form-group col-md-6" [ngClass]="{'d-block': isYes, 'd-none': !isYes}">
									<div class="form-group">
										<h6>4. Nombre(s)*</h6>
										<input type="text" [ngClass]="{'is-invalid': validationName.touched && !validationName.valid, 'is-valid': validationName.touched && validationName.valid}" class="form-control" name="name" #validationName="ngModel" placeholder="Nombre(s)" [(ngModel)]="name" minlength="1" maxlength="300" required>
										<div class="invalid-feedback" *ngIf="validationName.touched && !validationName.valid">
											<div *ngIf="validationName.errors.required">Por favor, introduzca un Nombre</div>
										</div>
									</div>

									<div class="form-group">
										<h6>5. Apellido(s)*</h6>
										<input type="text" [ngClass]="{'is-invalid': validationLastName.touched && !validationLastName.valid, 'is-valid': validationLastName.touched && validationLastName.valid}" class="form-control" name="lastName" #validationLastName="ngModel" placeholder="Apellido(s)" [(ngModel)]="lastName" minlength="1" maxlength="300" required>
										<div class="invalid-feedback" *ngIf="validationLastName.touched && !validationLastName.valid">
											<div *ngIf="validationLastName.errors.required">Por favor, introduzca un Apellido</div>
										</div>
									</div>

									<div class="form-group">
										<h6>6. Email*</h6>
										<input type="email" [ngClass]="{'is-invalid': validationEmail.touched && !validationEmail.valid, 'is-valid': validationEmail.touched && validationEmail.valid}" class="form-control" name="email" #validationEmail="ngModel" placeholder="Email" [(ngModel)]="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">


										<div class="invalid-feedback" *ngIf="validationEmail.touched && !validationEmail.valid">
											<div *ngIf="validationEmail.errors.required">Por favor, introduzca un Email</div>
											<div *ngIf="validationEmail.errors.pattern">El Email no es correcto, Ejemplo: name@company.com</div>
										</div>
									</div>

									<div class="form-group">
										<h6>7. Tipo de documento*</h6>
										<select [ngClass]="{'is-invalid': !validationDocument.valid, 'is-valid': validationDocument.valid}" name="document" #validationDocument="ngModel" [(ngModel)]="document" class="form-control" required>
											<option *ngFor="let document of documents" [value]="document.id"> {{document.name}}</option>
										</select>

										<div class="invalid-feedback" *ngIf="validationDocument.touched && !validationDocument.valid">
											<div *ngIf="validationDocument.errors.required">Por favor, introduzca un documento</div>
										</div>

									</div>

									<div class="form-group">
										<h6>8. Número de documento*</h6>
										<input type="text" [ngClass]="{'is-invalid': validationDni.touched && !validationDni.valid, 'is-valid': validationDni.touched && validationDni.valid}" class="form-control" name="dni" #validationDni="ngModel" placeholder="Número de documento" [(ngModel)]="dni" required maxlength="300">

										<div class="invalid-feedback" *ngIf="validationDni.touched && !validationDni.valid">

											<div *ngIf="validationDni.errors.required">Por favor, introduzca un número de documento</div>
											<div *ngIf="validationDni.errors.maxlength">El número de documento debe contener maximo 300 caracteres</div>

										</div>
									</div>

									<div class="form-group">
										<h6>9. Origen de la solicitud*</h6>
										<select [ngClass]="{'is-invalid': !validationOrigin.valid, 'is-valid':  validationOrigin.valid}" name="origin" #validationOrigin="ngModel" [(ngModel)]="origin" class="form-control" required>
											<option *ngFor="let origin of origins" [value]="origin.id"> {{origin.name}}</option>
										</select>

										<div class="invalid-feedback" *ngIf="validationOrigin.touched && !validationOrigin.valid">
											<div *ngIf="validationOrigin.errors.required">Por favor, introduzca un origen de la solicitud</div>
										</div>
									</div>
								</div>

							</div>

							<button  type="button" class="btn btn-secondary" (click)="goBack()">Regresar</button>

							<div [ngClass]="{'d-inline-block': (registerForm.form.valid && manifestation!=undefined) || (isNo && (validationResponseYes.valid || validationResponseNo.valid) && validationDescription.touched && validationDescription.valid && manifestation), 'd-none': !registerForm.form.valid}">
								<button type="button" (click)="reset()" class="btn btn-info">Cancelar</button>
								<button type="button" (click)="register(registerForm)"  class="btn btn-primary">Enviar</button>
							</div>



						</form>
					</div>
				</div>
			</div>

			<!--<div class="col-md-1">
				<div class="text-center">
					<img class="img_rol" src="assets/img/user.png" alt="...">
					<h6>Solicitante</h6>
				</div>
			</div>-->
		</div>
	</div>
</main>