<main class="main_request">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-10 offset-1 manifestation">
				<div class="row justify-content-center">
					<div class="col-12">
						<h4 class="text-center">CREAR SOLICITUD</h4>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-12">
						<img class="img_request_create" src="assets/img/banner.png" alt="...">
						<br>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-md-12">
						<form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
							<div class="form-row">

								<div class="form-group form-check col-md-12">
									<h6>1. Tipo de manifestación*</h6>
									<input type="checkbox"  name="manifestacionType" checked value="{{manifestacionType}}"  required disabled>
									<label class="form-check-label" for="exampleCheck1">{{ manifestacionType | titlecase }}</label>
								</div>


								<div class="form-group col-md-12">
									<h6>2. Descripción de la manifestación*</h6>
									<small class="form-text text-muted">Con el proposito de gestionar de la forma mas eficiente su manifestación, le recomendamos tener en cuenta en su redacción el nombre de la dependencia o personas involucradas si lo considera pertinente.</small>
									<textarea type="text" [ngClass]="{'is-invalid': validationDescription.touched && !validationDescription.valid, 'is-valid': validationDescription.touched && validationDescription.valid}" class="form-control" name="description" #validationDescription="ngModel" placeholder="Descripción" [(ngModel)]="description" minlength="1" maxlength="300" required></textarea>

									<div class="invalid-feedback" *ngIf="validationDescription.touched && !validationDescription.valid">
										<div *ngIf="validationDescription.errors.required">Por favor, introduzca un Descripción</div>
									</div>
								</div>

								<div class=" form-group col-md-6">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa fa-paperclip"></i></div>
										</div>

										<div class="custom-file">
											<input type="file" class="custom-file-input" name="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" (change)="preUpload($event)">
											<label class="custom-file-label" for="inputGroupFile01">{{ fileName }}</label>
										</div>

									</div>
								</div>

								<div class="form-group col-md-12">

									<h6>3.¿Desea recibir respuesta a su manifestación?*</h6>
									<small class="form-text text-muted">Los datos suministrados se trataran en confirmidad con la ley 1581 de 2012, "Por la cual se dictan disposiciones generales para la proteccion de datos personales".</small>
									<a href="https://jsonplaceholder.typicode.com/users" target="_blank">https://jsonplaceholder.typicode.com/users</a>


									<div class="custom-control custom-radio">
										<input type="radio" id="customControlValidation2" class="custom-control-input" name="manifestacionResponse" #validationManifestacionResponseYes="ngModel" [(ngModel)]="manifestacionResponse" value="yes" (ngModelChange)="changeResponse($event)" [ngClass]="{'is-invalid': validationManifestacionResponseYes.touched && !validationManifestacionResponseYes.valid, 'is-valid': validationManifestacionResponseYes.valid}" required>
										<label class="custom-control-label" for="customControlValidation2">Si</label>
									</div>
									<div class="custom-control custom-radio mb-3">
										<input type="radio" id="customControlValidation3" class="custom-control-input" name="manifestacionResponse" #validationManifestacionResponseNo="ngModel" [(ngModel)]="manifestacionResponse" value="no" (ngModelChange)="changeResponse($event)" [ngClass]="{'is-invalid': validationManifestacionResponseNo.touched && !validationManifestacionResponseNo.valid, 'is-valid': validationManifestacionResponseNo.valid}" required>
										<label class="custom-control-label" for="customControlValidation3">No</label>
										<div class="invalid-feedback">Por favor, indique su respuesta</div>
									</div>

								</div>

								<div class="form-group col-md-6" [ngClass]="{'d-block': isYes, 'd-none': !isYes}">
									<div class="form-group">
										<h6>4. Nombre(s)*</h6>
										<input type="text" [ngClass]="{'is-invalid': validationFirstName.touched && !validationFirstName.valid, 'is-valid': validationFirstName.touched && validationFirstName.valid}" class="form-control" name="firstName" #validationFirstName="ngModel" placeholder="Nombre(s)" [(ngModel)]="firstName" minlength="1" maxlength="300" required>
										<div class="invalid-feedback" *ngIf="validationFirstName.touched && !validationFirstName.valid">
											<div *ngIf="validationFirstName.errors.required">Por favor, introduzca un Nombre</div>
										</div>
									</div>

									<div class="form-group">
										<h6>5. Apellido(s)*</h6>
										<input type="text" [ngClass]="{'is-invalid': validationLastName.touched && !validationLastName.valid, 'is-valid': validationLastName.touched && validationLastName.valid}" class="form-control" name="lastName" #validationLastName="ngModel" placeholder="Apellido(s)" [(ngModel)]="lastName" minlength="1" maxlength="300" required>
										<div class="invalid-feedback" *ngIf="validationLastName.touched && !validationLastName.valid">
											<div *ngIf="validationLastName.errors.required">Por favor, introduzca un Apellido</div>
										</div>
									</div>

									<div class="form-group">
										<h6>6. Email*</h6>
										<input type="email" [ngClass]="{'is-invalid': validationEmail.touched && !validationEmail.valid, 'is-valid': validationEmail.touched && validationEmail.valid}" class="form-control" name="email" #validationEmail="ngModel" placeholder="Email" [(ngModel)]="email" required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">


										<div class="invalid-feedback" *ngIf="validationEmail.touched && !validationEmail.valid">
											<div *ngIf="validationEmail.errors.required">Por favor, introduzca un Email</div>
											<div *ngIf="validationEmail.errors.pattern">El Email no es correcto, Ejemplo: name@company.com</div>
										</div>
									</div>

									<div class="form-group">
										<h6>7. Tipo de documento*</h6>
										<select [ngClass]="{'is-invalid': validationDocumentType.touched && !validationDocumentType.valid, 'is-valid': validationDocumentType.touched && validationDocumentType.valid}" name="documentType" #validationDocumentType="ngModel" [(ngModel)]="documentType" class="form-control" required>
											<option value="" disabled selected hidden>Seleccione un tipo de documento</option>
											<option *ngFor="let documentType of documentTypes" [value]="documentType.id"> {{documentType.name}}</option>
										</select>

										<div class="invalid-feedback" *ngIf="validationDocumentType.touched && !validationDocumentType.valid">
											<div *ngIf="validationDocumentType.errors.required">Por favor, introduzca un tipo de documento</div>
										</div>

									</div>

									<div class="form-group">
										<h6>8. Número de documento*</h6>
										<input type="text" [ngClass]="{'is-invalid': validationDocument.touched && !validationDocument.valid, 'is-valid': validationDocument.touched && validationDocument.valid}" class="form-control" name="document" #validationDocument="ngModel" placeholder="Número de documento" [(ngModel)]="document" required maxlength="300">

										<div class="invalid-feedback" *ngIf="validationDocument.touched && !validationDocument.valid">
											<div *ngIf="validationDocument.errors.required">Por favor, introduzca un número de documento</div>
											<div *ngIf="validationDocument.errors.maxlength">El número de documento debe contener maximo 300 caracteres</div>

										</div>
									</div>

									<div class="form-group">
										<h6>9. Origen de la solicitud*</h6>
										<select [ngClass]="{'is-invalid': validationOriginRequest.touched && !validationOriginRequest.valid, 'is-valid':  validationOriginRequest.touched && validationOriginRequest.valid}" name="originRequest" #validationOriginRequest="ngModel" [(ngModel)]="originRequest" class="form-control" required>
											<option value="" disabled selected hidden>Seleccione un origen de solicitud</option>
											<option *ngFor="let originRequest of originRequests" [value]="originRequest.id"> {{originRequest.name}}</option>
										</select>

										<div class="invalid-feedback" *ngIf="validationOriginRequest.touched && !validationOriginRequest.valid">
											<div *ngIf="validationOriginRequest.errors.required">Por favor, introduzca un origen de la solicitud</div>
										</div>
									</div>
								</div>

							</div>

							<button  type="button" class="btn btn-secondary" (click)="goBack()">Regresar</button>

							<button type="button" (click)="reset()" class="btn btn-info">Cancelar</button>
							<div [ngClass]="{'d-inline-block': (registerForm.form.valid && manifestacionType!=undefined) || (isNo && (validationManifestacionResponseYes.valid || validationManifestacionResponseNo.valid) && validationDescription.touched && validationDescription.valid && manifestacionType), 'd-none': !registerForm.form.valid}">
								<button type="button" (click)="register(registerForm)"  class="btn btn-primary">Enviar</button>
							</div>



						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>