<main class="main_request">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-10 offset-1 manifestation">
				<div class="row justify-content-center">
					<div class="col-12">
						<h4 class="text-center">CREAR SOLICITUD</h4>
					</div>
				</div>
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Petición'}">
							<h5 class="text-center">PETICIÓN</h5>
							<img class="img_request" src="assets/img/peticiones.png" alt="...">
						</a>
						<p class="text-center">Corresponde a las manifestaciones, cuyo propósito es recibir información sobre situaciones de interés general y/o particular de la institución frente a los servicios que se le ofrece a sus usuarios.</p>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Reclamo'}">
							<h5 class="text-center">RECLAMO</h5>
							<img class="img_request" src="assets/img/reclamos.png" alt="...">
						</a>
						<p class="text-center">Es manifestación de un usuario referente a la prestación indebida de un servicio o a la a falta de atención de una solicitud.</p>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Felicitaciones'}">
							<h5 class="text-center">FELICITACIÓN</h5>
							<img class="img_request" src="assets/img/felicitaciones.png" alt="...">
						</a>
						<p class="text-center">Manifestación de los usuarios donde expresan su satisfacción por los servicios a cargo de la Universidad recibidos.</p>
					</div>
				</div>
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Queja'}">
							<h5 class="text-center">QUEJA</h5>
							<img class="img_request" src="assets/img/quejas.png" alt="...">
						</a>
						<p class="text-center">Este tipo de manifestación permite manifestar la  insatisfacción con los servicios o funcionarios  de la Universidad, o al propio proceso de tratamiento de quejas.</p>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Sugerencia'}">
							<h5 class="text-center">SUGERENCIA</h5>
							<img class="img_request" src="assets/img/sugerencias.png" alt="...">
						</a>
						<p class="text-center">Es una propuesta o recomendación que se presenta para el mejoramiento de la atención al usuario frente a un servicio, producto o proceso de la Universidad.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>