<main class="main_request">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-10 offset-1 manifestation">
				<div class="row justify-content-center">
					<div class="col-12">
						<h4 class="text-center">CREAR SOLICITUD</h4>
					</div>
				</div>
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Petición'}">
							<h5 class="text-center">PETICIÓN</h5>
							<img class="img_request" src="assets/img/peticion.jpg" alt="...">
						</a>
						<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat tempora sequi vitae aspernatur itaque eligendi aut autem fugiat.</p>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Reclamo'}">
							<h5 class="text-center">RECLAMO</h5>
							<img class="img_request" src="assets/img/reclamo.png" alt="...">
						</a>
						<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat tempora sequi vitae aspernatur itaque eligendi aut autem fugiat.</p>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Felicitaciones'}">
							<h5 class="text-center">FELICITACIÓN</h5>
							<img class="img_request" src="assets/img/notimg.jpg" alt="...">
						</a>
						<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat tempora sequi vitae aspernatur itaque eligendi aut autem fugiat.</p>
					</div>
				</div>
				<br>
				
				<div class="row justify-content-center">
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Queja'}">
							<h5 class="text-center">QUEJA</h5>
							<img class="img_request" src="assets/img/queja.png" alt="...">
						</a>
						<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat tempora sequi vitae aspernatur itaque eligendi aut autem fugiat.</p>
					</div>
					<div class="col-md-4">
						<a [routerLink]="['/request/create']" [queryParams]="{ manifestacionType: 'Sugerencia'}">
							<h5 class="text-center">SUGERENCIA</h5>
							<img class="img_request" src="assets/img/notimg.jpg" alt="...">
						</a>
						<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat tempora sequi vitae aspernatur itaque eligendi aut autem fugiat.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</main>